<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 																			
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>歌手</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/singer.css">
	<link rel="shortcut icon" type="image/x-icon" href="images/logo1.png">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body >
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---

                                                      模态框（Modal）

--><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto;">
	<div class="modal-dialog" style="overflow: auto;">
		<div class="modal-content"style="overflow: auto;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="false">X</button>
				<h4 class="modal-title" id="myModalLabel">账号密码登录</h4>
			</div>
			<div class="modal-body" style="position: relative;">
				<form id="test" class="form-horizontal" role="form" action="/user/userLogin" method="post" style="padding-left: 50px;">
					<div class="form-group">
						<img src="images/logo2.png" style="display: block; padding: 20px 151px">
						<div class="erweima"><img src="images/二维码2.jpg" style="position: absolute;width: 130px;
						height: 130px;bottom: 136px;right: 31px;">
							<p style="position: absolute;right: 64px;bottom: 106px;">联系我们</p>
						</div>
						<label class="col-sm-2 control-label">
							<span class="glyphicon glyphicon-user">账号</span>
						</label>
						<div  class="col-sm-10">
							<input type="text" class="form-control" id="user_name" name="user_name"
								   placeholder="手机号/QQ号/微信" style="width: 250px">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">
							<span class="glyphicon glyphicon-lock">密码</span>
						</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="user_password" name="user_password"
								   placeholder="password" style="width: 250px">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox"> 记住密码
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="modal-footer">
							<button  class="btn btn-primary" data-dismiss="btn btn-default" style="background-color: #169af3;padding: 5px 30px">登 &nbsp&nbsp&nbsp&nbsp录</button>
							<a href="/register.html" style="float: left;padding-top: 12px;">没有账号？点此注册</a>
						</div>
					</div>
				</form>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---

                                                     首页头部

--><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<div style="width: 100%;height: 80px; background-color:#fff;position: relative;">
	<div style="position: absolute;bottom: -5px;height: 5px;width: 100%;background-color:#fff;z-index: -1;"></div>
	<div class="search1">
		<div class="logo1" style="width: 153px; padding: 20.6px 0; display: inline-block;"><img src="images/logo2.png" alt=""><a href=""></a></div>
		<nav class="navmargin navbar navbar-default" role="navigation">
			<div class="shurukuang" style="padding: 20.6px 30px;">
				<form class="bs-example" role="form" action="#" method="get">
					<div class="row">
						<div class="col-lg-6">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="中国好声音">
								<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									Go!
								</button>
							</span>
							</div><!-- /input-group -->
						</div><!-- /.col-lg-6 -->
					</div><!-- /.row -->
				</form>
			</div>
			<!-- 图标加上搜索框结束 -->
			<div id="col10" class="dengluzhuce">
				<a class="mymusic" href="/mymusic.html  ">我的音乐</a>
<!--				<a class="mymusic" href="/huiyuanzhongxin.html ">会员中心</a>-->
				<span class="mymusic">|</span>
				<img id="touxiang" src="images/touxiang.png" width="40px" height="40px" style="display: inline-block; width: 40px;height: 40px;border:0;border-radius: 40px;margin-bottom: 5px;">
				<a id="userName" style="cursor: pointer;" class="mymusic" href="#">
					未登录</a>
				<a id="zhuXiao" onclick="zhuXiao();location.reload();" href="#">
				</a>
				<button id="display1" class="btn denglu" data-toggle="modal" data-target="#myModal">登 &nbsp&nbsp录</button> <!--触发模态框按钮-->
			</div>
		</nav>
	</div>
</div>
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---

                                                   下方nav标签导航栏开始）

--><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<div id="app">
	<template>
		<el-dialog
				title="upload music"
				:visible.sync="is_add_form_visiable"
				width="33%">
			<div>
				<el-form ref="form" :model="data" label-width="80px">
					<el-form-item label="音乐名">
						<el-input v-model="data.name" type="text" placeholder="请输入音乐名" />
					</el-form-item>
					<el-form-item label="歌手">
						<el-input v-model="data.singer" type="text" placeholder="请输入歌手" />
					</el-form-item>
					<el-form-item>
						<el-upload
								ref="upload"
								action=""
								class="upload-demo"
								:http-request="httpRequest"
								:multiple="false"
								:limit="1"
								:auto-upload="false"
								:file-list="data.file">
							<!--                            <el-button size="small" type="primary">选择音乐文件</el-button>-->
						</el-upload>
					</el-form-item>
					<el-form-item>
						<el-upload
								ref="upload"
								action=""
								class="upload-demo"
								:http-request="httpRequest0"
								:multiple="false"
								:limit="1"
								:auto-upload="false"
								:file-list="data.file">
							<!--                            <el-button size="small" type="primary">选择音乐图片</el-button>-->
						</el-upload>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="onSubmit">提交</el-button>
					</el-form-item>
				</el-form>

			</div>
		</el-dialog>
	</template>
<nav class="daohanglan">
	<div class="big3">
		<ul>
			<li><a class=" erjicaidan2" href="/index.html  ">首页</a></li>
			<li><a class=" erjicaidan2" href="/bangdan.html">榜单</a></li>
			<li><a class="gudingbeij erjicaidan2" href="/singer.html">歌手</a></li>
			<li><a class="erjicaidan2" @click="show">上传音乐</a></li>
<!--			<li><a class="erjicaidan2" href="/mv.html   ">MV</a></li>-->
<!--			<li class="dropdown">-->
<!--				<a class="gudingbeij erjicaidan2" href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--					更多 <b class="caret"></b>-->
<!--				</a>-->
<!--				<ul class="dropdown-menu">-->
<!--					<li><a class="erjicaidan" href="/musicRadio.html  ">电台</a></li>-->
<!--					<li><a class="erjicaidan" href="/songlist.html  ">歌单</a></li>-->
<!--					<li><a class="erjicaidan2" href="/singer.html">歌手</a></li>-->
<!--&lt;!&ndash;					<li><a class="erjicaidan" href="#">歌手</a></li>&ndash;&gt;-->
<!--				</ul>-->
<!--			</li>-->
		</ul>
<!--		<ul>-->
<!--			<li class="youfudong"><a style="padding: 20px 0px" href="playmusic.html"><span class="glyphicon glyphicon-shopping-cart" style="font-size: 14px"> 商城</span></a> </li>-->
<!--			<li class="youfudong"><a style="padding: 20px 0px" href="/musician.html"><span class="glyphicon glyphicon-headphones" style="font-size: 14px"> 音乐人</span></a> </li>-->
<!--			<li class="youfudong"><a style="padding: 20px 0px" href="playmusic.html"><span class="glyphicon glyphicon-music" style="font-size: 14px"> 轻语LIVE</span></a> </li>-->
<!--			<li class="youfudong"><a style="padding: 20px 0px" href="/QQmusic.html"><span class="glyphicon glyphicon-star-empty" style="font-size: 14px"> 在线播放</span></a></li>-->
<!--		</ul>-->
	</div>
	</div>
</nav>
</div>
	
<div class="big">
	<div class="l">
		<ul class="sng1">
			<li class="all">
				<a title="全部歌手" class="hover" href="#" >全部歌手</a>
			</li>
			<li class="all">
				<a title="华语男歌手" class="hover" href="#">华语男歌手</a>
			</li>
			<li class="all">
				<a title="华语女歌手" class="hover" href="#">华语女歌手</a>
			</li>
			<li class="all">
				<a title="华语组合" class="hover" href="#">华语组合</a>
			</li>
		</ul>
		<ul class="sng2">
			<li class="all">
				<a title="日韩男歌手" class="hover" href="#" >日韩男歌手</a>
			</li>
			<li class="all">
				<a title="日韩女歌手" class="hover" href="#" >日韩女歌手</a>
			</li>
			<li class="all">
				<a title="日韩组合" class="hover" href="#" >日韩组合</a>
			</li>
		</ul>
		<ul class="sng3">
			<li class="all">
				<a title="欧美男歌手" class="hover" href="#" >欧美男歌手</a>
			</li>
			<li class="all">
				<a title="欧美女歌手" class="hover" href="#" >欧美女歌手</a>
			</li>
			<li class="all">
				<a title="欧美组合" class="hover" href="#" >欧美组合</a>
			</li>
			<li class="oth">
				<a title="其他歌手" class="hover" href="#">其他</a>
			</li>
		</ul>
	</div>
	<div class="r">
		<div class="zimu">
			<div class="num">
				<a title="热门歌手" href="#">热门</a>
				<a href="#">A</a>
				<a href="#">B</a>
				<a href="#">C</a>
				<a href="#">D</a>
				<a href="#">E</a>
				<a href="#">F</a>
				<a href="#">G</a>
				<a href="#">H</a>
				<a href="#">I</a>
				<a href="#">J</a>
				<a href="#">K</a>
				<a href="#">L</a>
				<a href="#">M</a>
				<a href="#">N</a>
				<a href="#">O</a>
				<a href="#">P</a>
				<a href="#">Q</a>
				<a href="#">R</a>
				<a href="#">S</a>
				<a href="#">T</a>
				<a href="#">U</a>
				<a href="#">V</a>
				<a href="#">W</a>
				<a href="#">X</a>
				<a href="#">Y</a>
				<a href="#">Z</a>
				<a title = "其他歌手" href="#">其他</a>
			</div>
		</div>
		<div class="zhong">
			<div class="singerpn">
				<a href="#"><img src="images/s1.jpg" alt="刘德华" class="singerpicture"></a>
				<span class="st"><strong>1st</strong></span>
				<span class="singername">刘德华</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s2.jpg" alt="薛之谦" class="singerpicture"></a>				
				<span class="st"><strong>2nd</strong></span>
				<span class="singername">薛之谦</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s3.jpg" alt="林俊杰" class="singerpicture"></a>				
				<span class="st"><strong>3rd</strong></span>
				<span class="singername">林俊杰</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s4.jpg" alt="周杰伦" class="singerpicture"></a>				
				<span class="st"><strong>4th</strong></span>
				<span class="singername">周杰伦</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s5.jpg" alt="邓紫棋" class="singerpicture"></a>				
				<span class="st"><strong>5th</strong></span>
				<span class="singername">邓紫棋</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s6.jpg" alt="TFBOYS" class="singerpicture"></a>
				<span class="st"><strong>6th</strong></span>
				<span class="singername">TFBOYS</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s7.jpg" alt="毛不易" class="singerpicture"></a>				
				<span class="st"><strong>7th</strong></span>
				<span class="singername">毛不易</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s8.jpg" alt="张杰" class="singerpicture"></a>			
				<span class="st"><strong>8th</strong></span>
				<span class="singername">张杰</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s9.jpg" alt="张学友" class="singerpicture"></a>				
				<span class="st"><strong>9th</strong></span>
				<span class="singername">张学友</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s10.jpg" alt="易烊千玺" class="singerpicture"></a>
				<span class="st"><strong>10th</strong></span>
				<span class="singername">易烊千玺</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s11.jpg" alt="刀郎" class="singerpicture">
				</a>				<span class="st"><strong>11th</strong></span>
				<span class="singername">刀郎</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s12.jpg" alt="李荣浩" class="singerpicture"></a>
				<span class="st"><strong>12th</strong></span>
				<span class="singername">李荣浩</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s13.jpg" alt="王俊凯" class="singerpicture"></a>
				<span class="st"><strong>13th</strong></span>
				<span class="singername">王俊凯</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s14.jpg" alt="半阳" class="singerpicture"></a>				     
				<span class="st"><strong>14th</strong></span>
				<span class="singername">半阳</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s15.jpg" alt="陈奕迅" class="singerpicture"></a>				
				<span class="st"><strong>15th</strong></span>
				<span class="singername">陈奕迅</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s16.jpg" alt="蔡徐坤" class="singerpicture"></a>
				<span class="st"><strong>16th</strong></span>
				<span class="singername">蔡徐坤</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s17.jpg" alt="华晨宇" class="singerpicture"></a>
				<span class="st"><strong>17th</strong></span>
				<span class="singername">华晨宇</span>
			</div>
			<div class="singerpn">
				<a href="#"><img src="images/s18.jpg" alt="陈立农" class="singerpicture"></a>
				<span class="st"><strong>18th</strong></span>
				<span class="singername">陈立农</span>
			</div>
		</div>
		<div class="boxbox">
			<table class="table">
				<tbody>
					<tr class="active">
						<td>19 <img src="images/下降.png"> <a href="#">庄心妍</a></td>
						<td>27 <img src="images/下降.png"> <a href="#">白小白</a></td>
						<td>35 <img src="images/下降.png"> <a href="#">冷漠</a></td>
					</tr>
					<tr class="success">
						<td>20 <img src="images/上升.png"> <a href="#">凤凰传奇</a></td>
						<td>28 <img src="images/上升.png"> <a href="#">周华健</a></td>
						<td>36 <img src="images/下降.png"> <a href="#">Alan Walker</a></td>
					</tr>
					<tr  class="warning">
						<td>21 <img src="images/下降.png"> <a href="#">黄家驹</a></td>
						<td>29 <img src="images/下降.png"> <a href="#">汪苏泷</a></td>
						<td>37 <img src="images/上升.png"> <a href="#">张艺兴</a></td>
					</tr>
					<tr  class="danger">
						<td>22 <img src="images/下降.png"> <a href="#">花姐</a></td>
						<td>30 <img src="images/上升.png"> <a href="#">火箭少女101</a></td>
						<td>38 <img src="images/上升.png"> <a href="#">张靓颖</a></td>
					</tr>
					<tr class="active">
						<td>23 <img src="images/上升.png"> <a href="#">许嵩</a></td>
						<td>31 <img src="images/上升.png"> <a href="#">王杰</a></td>
						<td>39 <img src="images/上升.png"> <a href="#">艾辰</a></td>
					</tr>
					<tr class="success">
						<td>24 <img src="images/上升.png"> <a href="#">王源</a></td>
						<td>32 <img src="images/上升.png"> <a href="#">卓依婷</a></td>
						<td>40 <img src="images/下降.png"> <a href="#">虎二</a></td>
					</tr>
					<tr  class="warning">
						<td>25 <img src="images/下降.png"> <a href="#">郑源</a></td>
						<td>33 <img src="images/上升.png"> <a href="#">鹿晗</a></td>
						<td>41 <img src="images/下降.png"> <a href="#">邓丽君</a></td>
					</tr>
					<tr  class="danger">
						<td>26 <img src="images/上升.png"> <a href="#">张宇</a></td>
						<td>34 <img src="images/上升.png"> <a href="#">孙露</a></td>
						<td>42 <img src="images/下降.png"> <a href="#">张韶涵</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="nvg">
			<ul class="pagination pagination-sm">
				<li><a href="#">&laquo;</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>
		</div>
	</div>
</div>	


<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/bootstrap-paginator.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/tools.js"></script>
<script src="js/jquery.cookie.js"></script>
<script type="text/javascript">


    if ($.cookie("user_name")!=undefined  && $.cookie("user_name")!="1"){
        $("#userName").text("账号："+$.cookie("user_name"));
        $("#zhuXiao").text("注销");


        document.getElementById("touxiang").src="images/touxiang2.jpg";
        $("#display1").attr("style","display:none;");
    }

    $('#test').validate({
        errorPlacement: function(error, element) {
            error.appendTo(element.parent());
        },
        onfocusout:function(element){
            $(element).valid();
        },
        submitHandler: function (form) {
            denglu($('#test').attr("action"), $('#test').serialize());


        }
    });





</script>
<script src="vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<!-- 引入 Element UI 的 JS 文件 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
new Vue({
  el: '#app',
  name: "upload",
        data() {
            return {
                data: {
                    name: null,
                    singer: '',
                    file: null ,
                    music: null ,
                    picture: null // 用于存储上传文件的元数据
                },
                is_add_form_visiable: false // 改为正确的属性名
            };
        },
  methods: {
            show(){
            this.is_add_form_visiable = true
            },
            httpRequest(param){
                //把上传的文件赋值给data属性的file
                this.data.music = param.file;
            },
            httpRequest0(param){
                //把上传的文件赋值给data属性的file
                this.data.picture = param.file;
            },
            /* 提交修改*/
            onSubmit() {
                //注意执行submit方法后，他会触发upload组件中的 http-request
                this.$refs.upload.submit()
                // 新建form表单
                const formData = new FormData();
                formData.append("name", this.data.name);
                formData.append("singer", this.data.singer);
                formData.append("music", this.data.music);
                formData.append("picture", this.data.picture);

                this.axios.post("/musicLink/uploadSong", formData)
                    .then(response => {
                        alert(response.data);
                    })
            }
}

});

document.addEventListener('DOMContentLoaded', function() {
	// 找到所有 class 为 "singername" 的元素
	var singerNames = document.querySelectorAll('.singername');

	// 为每个元素绑定点击事件
	singerNames.forEach(function(singerNameElement) {
		singerNameElement.addEventListener('click', function() {
			// 获取点击的元素内容并调用 getlist 函数
			var singerName = singerNameElement.textContent;
			getList(singerName);
		});
	});
});


function getList(singerName) {
	$.ajax({
		url: "musicLink/getSongsBySinger/"+singerName,//后台地址
		type: "GET",//post方式请求
		success: function (data) {
			if (data.code == 200) {
				$.removeCookie("song_search", { path: '/' });
				var singer = singerName;
				$.cookie("singer", singer, {expires: 7, path: "/"});

				window.open("/musicSearchTest.html");
			} else if (data.code != 200) {
				alert("搜索不到该歌手歌曲！");
			}
		},
		error: function (data) {
			alert(JSON.stringify(data));
		}
	})
}//已在mymusic中注释
</script>
	</body>
	</html>